#usersOnSite {
    border: 1px solid black;
    height: 400px;
    overflow: scroll;
}

#friendsInfo {
    border: 1px solid black;
    height: 400px;
    overflow: scroll;
}

#findFriend {
    margin-left: 30px;
}

#findFriendTextbox {
    width: 250px;
}

.addFriendBtn {
    float: right;
    font-size: 12px;
    height: 28px;
    margin-top: -2px;
    padding: 2px;
}

.userDiv {
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    padding-left: 10px;
    width: 100%;
}

.userDiv:hover {
    background: rgb(255, 205, 255);
}

.requestedBtn {
    background: lightgray;
    border: 1px solid rgb(148, 148, 148);
    color: rgb(104, 104, 104);
}